name: Deploy Full Stack

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy from'
        required: true
        type: string
        default: 'main'
      api_base_url:
        description: 'Backend API URL'
        required: true
        type: string
        default: 'https://tenxempires-backend-3vir4.ondigitalocean.app/'

jobs:
  deploy-backend:
    uses: ./.github/workflows/deploy-backend.yml
    secrets: inherit
    with:
      branch: ${{ github.event.inputs.branch }}

  deploy-frontend:
    needs: deploy-backend
    uses: ./.github/workflows/deploy-frontend.yml
    secrets: inherit
    with:
      branch: ${{ github.event.inputs.branch }}
      api_base_url: ${{ github.event.inputs.api_base_url }}

