name: Deploy Database

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy from'
        required: true
        type: string
        default: 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.branch }}
      
      - name: Deploy to DigitalOcean App Platform
        uses: digitalocean/app_action@v2
        with:
          app_name: tenxempires-db
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          # Note: Database service configuration is done in App Platform UI
          # This workflow is mainly for tracking/audit purposes

